---
import Icon from "./Icon.astro";
import { withBase } from "../lib/paths";

interface Props {
  title: string;
  icon?: string;
  href?: string;
}
const { title, icon, href } = Astro.props;
const link = href ? withBase(href) : undefined;
const Tag = link ? "a" : "div";
---

<Tag class="card" href={link}>
  {icon && <div class="card-icon"><Icon name={icon} size={20} /></div>}
  <div class="card-title">{title}</div>
  <div class="card-desc"><slot /></div>
</Tag>
